*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$primary-col: rgb(240, 121, 141);
$secondary-col:rgb(122, 121, 121);
.navbar{
    //margin-top: 3rem;
    //box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    display: flex;
    margin-bottom: 2rem;
    h1{
        color: $primary-col;
        font-size: 3rem;
        padding-left: 1rem;
    }
    .links{
        display: flex;
        align-items: center;
        a{
            margin-right: 2rem;
            text-decoration: none;
            color: $secondary-col;   
        }
        a:hover{
            color: $primary-col;
            transition: 0.2s; 
        }
        margin-left: auto;
    }
}
.home{
    height: 30rem;
    .content-box{
        margin: 3rem;
       // border: 2px solid black;
       position: relative;
       padding: 20px;
       .deleteBox{
           display: flex;
           justify-content: space-between;
       }
       .btn{
          font-size: 1rem;
          height: 1.8rem;
          border: none;
          display: flex;
          align-items: center;
          padding: 7px;
          border-radius: 4px;
          background-color: $primary-col;
       }
       .btn:hover{
             background-color: rgb(73, 70, 70);
             transition: 0.7s;
             color: $primary-col;
       }
        .title{
            font-size: 2rem;
            color: $primary-col;
             display: block;
            // justify-content: center;
            padding-bottom: 25px;
        }
        .body{
            font-size: 1rem;
            color: $secondary-col;
        }
        h6{
            margin-top: 10px;
            color: $secondary-col;
            text-align: right;
        }
    }
    .content-box:hover{
        box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    }
    //border: 1px solid black;
}
@media (max-width: 768px) {
   html{
       font-size: 80%;
   }
  
   .content-box{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
   }
}
@media (max-width: 645px) {
    html{
        font-size: 75%;
    }
   
    .content-box{
        box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
       }
 }
 @media (max-width: 550px) {
    html{
        font-size: 68%;
    }

    .content-box{
        box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
       }
 }
 